
/* ==========================================================================
   Base styles:
   ========================================================================== */
/* Fix to include padding and border in the total width for each element */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
	font-weight: 400;
  border: 0px;
  background-color: black;
  color: white;
  text-align: center;
}

nav a {
  text-decoration: none;
  font-family: 'Lobster Two', cursive;
  color: #ff4d4d;
  font-weight: bold;
  font-size: 20px;
  font-style: italic;
}

nav {
  padding: 30px 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  background-color: white;
  border-bottom: 3px solid #ff4d4d;
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 3s;
}

header {
  background-image: url(../img/kimberly_walford_black_and_white.jpg);
  background-size: cover;
  height: 650px;
  margin: 0px;
  display: flex;
	justify-content: center;
  flex-direction: column;
  margin-top: 80px;
}

header h2 {
  font-size: 30px;
  color: #ff4d4d;
  padding-top: 140px;
  font-family: 'Lobster Two', cursive;
  font-style: italic;
  text-transform: none;
  letter-spacing: normal;
  border: 0px;
}

h1 {
  font-size: 70px;
  text-transform: uppercase;
  color: #ff4d4d;
  margin-top: 0px;
  padding-top: 80px;
  letter-spacing: 12px;
}

.text-center {
  text-align: center;
  font-weight: bold;
}

h2 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
  /*color: #ff4d4d;*/
  letter-spacing: 10px;
  color: white;
  margin: 10px 0px;
  border-bottom: 3px solid white;
  border-top: 3px solid white;
}

h3 {
  font-size: 25px;
  color: #ff4d4d;
  font-family: 'Lobster Two', cursive;
  font-style: italic;
  margin: 0px;
  background-color: white;
  margin-bottom: 40px;
  padding: 5px 0px;
  border-bottom: 3px solid #ff4d4d;
  border-top: 3px solid #ff4d4d;
}

p {
  font-size: 15px;
  padding-bottom: 20px;
}

/* Fix for responsive images */
img {
  max-width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

footer {
  font-family: 'Karla', sans-serif;
  background-color: white;
  color: white;
  padding-bottom: 0px;
  margin-bottom: 0px;
  padding: 60px 0px;
  border-top: 3px solid #ff4d4d;
}

footer p {
  color: #ff4d4d;
  font-family: 'Lobster Two', cursive;
  font-size: 35px;
  font-style: italic;
  margin-bottom: 5px;
}

button {
  color: #ff4d4d;
  background-color: white;
  font-family: 'Lobster Two', cursive;
  border: 3px solid #ff4d4d;
  padding: 5px 20px;
  font-style: italic;
  margin-left: 25px;
}

input {
  color: #ff4d4d;
  background-color: white;
  font-family: 'Lobster Two', cursive;
  border: 3px solid #ff4d4d;
  font-style: italic;
  padding: 5px;
  text-align: center;
}

.bonica_text a {
  color: black;
  font-family: 'Karla', sans-serif;
  font-style: normal;
  text-transform: uppercase;
}

.jen_text a {
  color: black;
  font-family: 'Karla', sans-serif;
  font-style: normal;
  text-transform: uppercase;
}

.katie_text a {
  color: black;
  font-family: 'Karla', sans-serif;
  font-style: normal;
  text-transform: uppercase;
}

.paige_text a {
  color: black;
  font-family: 'Karla', sans-serif;
  font-style: normal;
  text-transform: uppercase;
  font-size: 27px;
}

.kimberly_text a {
  color: black;
  font-family: 'Karla', sans-serif;
  font-style: normal;
  text-transform: uppercase;
}

.liz_text a {
  color: black;
  font-family: 'Karla', sans-serif;
  font-style: normal;
  text-transform: uppercase;
}

.marisa_text a {
  color: black;
  font-family: 'Karla', sans-serif;
  font-style: normal;
  text-transform: uppercase;
}

.meg_text a {
  color: black;
  font-family: 'Karla', sans-serif;
  font-style: normal;
  text-transform: uppercase;
}

.gallery {
  display: flex;
  align-items: center;
  padding-top: 15px;
}

.gallery article {
  padding: 10px;
  width: 33%;
}

.gallery img {
  padding: 10px 0px;
}

.newsletter {
  padding: 5px;
  margin: 5px 0px;
}

#mechanics h2 {
  color: white;
  background-color: #ff4d4d;
}

#athletes h2 {
  color: white;
  background-color: #ff4d4d;
}

#competing h2 {
  color: white;
  background-color: #ff4d4d;
}

#resources h2 {
  color: white;
  background-color: #ff4d4d;
}

#mechanics {
  padding: 65px 0px 25px 0px;
}

#competing {
  padding: 65px 0px 25px 0px;
}

#resources {
  padding: 65px 0px;
}

#athletes {
  padding: 65px 0px;
}

.bonica {
  background-image: url("../img/bonica_black_and_white.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 225px;
  margin-bottom: 20px;
  margin-left: 8px;
  margin-right: 10px;
  margin-bottom: 30px;
}

.bonica_text {
  background-color: rgba(255, 77, 77, 0.5);
  min-height: 225px;
  font-family: 'Lobster Two', cursive;
  font-style: italic;
  padding-top: 50px;
  font-size: 30px;
  letter-spacing: 1.5px;
}

.bonica_text p {
  font-size: 25px;
}

.jen {
  background-image: url("../img/jen_thompson_black_and_white.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 250px;
  margin-left: 8px;
  margin-bottom: 30px;
}

.jen_text {
  background-color: rgba(255, 77, 77, 0.5);
  min-height: 250px;
  font-family: 'Lobster Two', cursive;
  font-style: italic;
  padding-top: 50px;
  font-size: 30px;
  letter-spacing: 1.5px;
}

.jen_text p {
  font-size: 25px;
}

.katie {
  background-image: url("../img/katie_anne_black_and_white.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 225px;
  margin-left: 8px;
}

.katie_text {
  background-color: rgba(255, 77, 77, 0.5);
  min-height: 225px;
  font-family: 'Lobster Two', cursive;
  font-style: italic;
  padding-top: 35px;
  font-size: 30px;
  letter-spacing: 1.5px;
}

.katie_text p {
  font-size: 25px;
}

.paige {
  background-image: url("../img/paige_black_and_white_2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 555px;
  margin-left: 5px;
  margin-right: 5px;
}

.paige_text {
  background-color: rgba(255, 77, 77, 0.5);
  min-height: 555px;
  font-family: 'Lobster Two', cursive;
  font-style: italic;
  padding-top: 210px;
  font-size: 30px;
  letter-spacing: 1.5px;
}

.paige_text p {
  font-size: 25px;
}

.kimberly {
  background-image: url("../img/kimberly_walford_black_and_white_3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 300px;
  margin-left: 5px;
  margin-top: 30px;
  margin-right: 5px;
}

.kimberly_text {
  background-color: rgba(255, 77, 77, 0.5);
  min-height: 300px;
  font-family: 'Lobster Two', cursive;
  font-style: italic;
  padding-top: 70px;
  font-size: 30px;
  letter-spacing: 1.5px;
}

.kimberly_text p {
  font-size: 25px;
}

.liz {
  background-image: url("../img/liz_black_and_white.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 225px;
  margin-left: 5px;
  margin-bottom: 8px;
}

.liz_text {
  background-color: rgba(255, 77, 77, 0.5);
  min-height: 225px;
  font-family: 'Lobster Two', cursive;
  font-style: italic;
  padding-top: 40px;
  font-size: 30px;
  letter-spacing: 1.5px;
}

.liz_text p {
  font-size: 25px;
}

.marisa {
  background-image: url(../img/marisa_inda_back_and_white.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 300px;
  margin-left: 5px;
  margin-bottom: 8px;
  margin-top: 30px;
}

.marisa_text {
  background-color: rgba(255, 77, 77, 0.5);
  min-height: 300px;
  font-family: 'Lobster Two', cursive;
  font-style: italic;
  padding-top: 65px;
  font-size: 30px;
  letter-spacing: 1.5px;
}

.marisa_text p {
  font-size: 25px;
}

.meg {
  background-image: url("../img/meg_squats_black_and_white.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 200px;
  margin-left: 5px;
  margin-bottom: 8px;
  margin-top: 30px;
}

.meg_text {
  background-color: rgba(255, 77, 77, 0.5);
  min-height: 200px;
  font-family: 'Lobster Two', cursive;
  font-style: italic;
  padding-top: 30px;
  font-size: 30px;
  letter-spacing: 1.5px;
}

.meg_text p {
  font-size: 25px;
}

.iron img {
  max-height: 500px;
  max-width: 250px;
}

#resources a {
  font-family: 'Karla', sans-serif;
  color: #ff4d4d;
  font-size: 25px;
  text-transform: uppercase;
  display: block;
}

.squat_mechanics p {
  padding-left: 12px;
  padding-right: 12px;
}

.bench_press_mechanics p {
  padding-left: 12px;
  padding-right: 12px;
}

.conventional_deadlift_mechanics p {
  padding-left: 12px;
  padding-right: 12px;
}

.sumo_deadlift_mechanics p {
  padding-left: 12px;
  padding-right: 12px;
}

#competing p {
  padding-left: 12px;
  padding-right: 12px;
}
